# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# Virtualenv
venv/
ENV/
env/

# IDE config files
.vscode/
.idea/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Log files
*.log
